{% load static %}
<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" href="{% static 'loginpage.css' %}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spin n Stone Login</title>
</head>

<body>

    <h1>Welcome to Spin n' Stone</h1>

    <div class="container">
     
    <a href="manager\" target="_blank">Manager</a>
    <a href="server\" target="_blank">Server</a>
    <a href="customer\" target="_blank">Customer</a>
</div>

</body>
</html>