{% load static %}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'server.css' %}">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spin n Stone Server View</title>

</head>
<body>

    <h2>Crust</h2>
    <div class = "grid">
        <button> Regular </button>
        <button> Cauliflower</button>

    </div>

    <h2>Cheese</h2>
    <div class = "grid">
        <button> Mozzarella </button>
        <button> Provolone </button>
        
    </div>

    <h2>Sauce</h2>
    <div class = "grid">
        <button> Traditional Red Sauce </button>
        <button> Zesty Red </button>
        <button> Alfredo </button>
        
    </div>

    <h2>Meat</h2>
    <div class = "grid">
        <button> Meatball </button>
        <button> Diced Ham </button>
        <button> Italian Sausage </button>
        <button> Smoked Chicken </button>
        <button> Pepperoni </button>
        <button> Salami </button>
        
    </div>

    <h2>Veggie</h2>
    <div class = "grid">
        <button> Roasted Garlic </button>
        <button> Green Peppers </button>
        <button> Spinach </button>
        <button> Banana Peppers </button>
        <button> Black Olives </button>
        <button> Mushrooms </button>
        <button> Tomatoes </button>
        <button> Onions </button>
        <button> Pineapple </button>
        <button> Jalapenos </button>
        
    </div>

    <h2>Drizzle</h2>
    <div class = "grid">
        <button> Ranch </button>
        <button> BBQ Sauce </button>
        <button> Olive Oil </button>
        <button> Sriracha </button>
        
    </div>

    <div class="next">
        <button style="background:rgb(45, 199, 45); color:black; height: 80px; width: 100px;"> Next </button>
    </div>

</body>
</html>