{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'Cheese_selection.css' %}">
<body>



<div class = "grid">  

<button class = "card" style="background: url({% static 'media/mozzarella.jpg' %}); background-size:cover;" onclick="location.href='Sauce_selection/';" >
    <div class ="yellow"> Mozzarella </div> 
</button>
<button class = "card" style="background-image: url({% static 'media/provolones.jpg' %}); background-size:cover;" onclick="location.href='Sauce_selection/';"> 
    <div class ="yellow" > Provolone </div>  
</button>

</div>  

</body>
</html>