{% extends "footer.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Spin n Stone</title>
<body>

<form method="POST">
    {% csrf_token %}

        <div class="container"; style="grid-template-columns: repeat(2, 1fr);">  
        {% for order in orderNames %}
        <div onclick="javascript:getElementById('b{{forloop.counter}}').click();" class = "card" style="background: #383838 url({% static 'media/'|add:order|add:'.jpg' %}); background-size: cover;  background-position: center center;"> 
            <button id="b{{forloop.counter}}" class = "yellow" type="submit" name="btn"  value="{{order}}">{{order}}</button>
        </div>
        {% endfor %}
        </div>

</form>
{{ val }}

</body>
</html>
{% endblock %}