{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'Drizzle_selection.css' %}">
<body>    

<div class = "grid">  

<button class = "card" style="background: url({% static 'media/ranch.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Checkout/';">
    <div class ="yellow"> Ranch </div> 
</button>

<button class = "card" style="background: url({% static 'media/bbq.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Checkout/';"> 
    <div class ="yellow" > BBQ </div>  
</button>

<button class = "card" style="background: url({% static 'media/oil.jpg' %}); background-size: cover;  background-position: center center;"
 onclick="location.href='Checkout/';"> 
    <div class ="yellow"> Olive Oil </div> 
</button>

<button class = "card" style="background: url({% static 'media/sri.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Checkout/';">
    <div class ="yellow"> Sriracha </div> 
</button>

</div>  

</body>
</html>