{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'Drizzle_selection.css' %}">
<body>    

<form method="POST">
    {% csrf_token %}
    
    <div class = "grid">  

        <input type="submit" name="btn" class = "card" style="background: url({% static 'media/ranch.jpg' %}); background-size: cover;  background-position: center center;" value="Ranch">
        <input type="submit" name="btn" class = "card" style="background: url({% static 'media/bbq.jpg' %}); background-size: cover;  background-position: center center;" value="BBQ"> 
        <input type="submit" name="btn" class = "card" style="background: url({% static 'media/oil.jpg' %}); background-size: cover;  background-position: center center;" value="Olive Oil"> 
        <input type="submit" name="btn" class = "card" style="background: url({% static 'media/sri.jpg' %}); background-size: cover;  background-position: center center;" value="Sriracha">
    </div>  

</form>
{{ val }}

</body>
</html>