{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'Pizza_selection.css' %}">
<body>




<form method="POST">
    {% csrf_token %}
        
    <div class = "grid">  
        <input type="submit" name="btn" class = "card" style="background-image: url({% static 'media/cheese_pizza.jpg' %})" value="Cheese"> 
        <input type="submit" name="btn" class = "card" style="background-image: url({% static 'media/pepperoni_pizza.jpg' %})" value="Pepperoni"> 
        <input type="submit" name="btn" class = "card" style="background-image: url({% static 'media/1topping.jpg' %})" value="1-topping"> 
        <input type="submit" name="btn" class = "card" style="background-image: url({% static 'media/4topping.jpg' %})" value="4-topping"> 
    </div>  

</form>
{{ val }}

</body>
</html>