{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'Sauce.css' %}">
<body>    

<form method="POST">
    {% csrf_token %}
    
    <div class = "grid">  

        <input type="submit" name="btn" class = "card" style="background: url({% static 'media/traditional.jpg' %}); background-size: cover;  background-position: center center;" value="Traditional Red">
        <input type="submit" name="btn" class = "card" style="background: url({% static 'media/zesty.jpg' %}); background-size: cover;  background-position: center center;" value="Zesty Red"> 
        <input type="submit" name="btn" class = "card" style="background: url({% static 'media/alfredo.jpg' %}); background-size: cover;  background-position: center center;" value="Alfredo"> 

    </div>  
</form>
{{ val }}

</body>
</html>