{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'Toppings_selection.css' %}">
<body>    

<div class = "grid">  

<button class = "card" style="background: url({% static 'media/meatball.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Drizzle_selection/';">
    <div class ="yellow"> Meatball </div> 
</button>

<button class = "card" style="background: url({% static 'media/ham.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow" > Diced Ham </div>  
</button>

<button class = "card" style="background: url({% static 'media/italian.jpg' %}); background-size: cover;  background-position: center center;"
 onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow"> Italian Sausage </div> 
</button>

<button class = "card" style="background: url({% static 'media/chicken.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Drizzle_selection/';">
    <div class ="yellow"> Smoked Chicken </div> 
</button>

<button class = "card" style="background: url({% static 'media/pepperoni.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow" > Pepperoni </div>  
</button>

<button class = "card" style="background: url({% static 'media/salami.jpg' %}); background-size: cover;  background-position: center center;"
 onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow"> Salami </div> 
</button>

<button class = "card" style="background: url({% static 'media/garlic.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Drizzle_selection/';">
    <div class ="yellow"> Roasted Garlic </div> 
</button>

<button class = "card" style="background: url({% static 'media/green.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow" > Green Peppers </div>  
</button>

<button class = "card" style="background: url({% static 'media/spinach.jpg' %}); background-size: cover;  background-position: center center;"
 onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow"> Spinach </div> 
</button>

<button class = "card" style="background: url({% static 'media/banana.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Drizzle_selection/';">
    <div class ="yellow"> Banana Peppers </div> 
</button>

<button class = "card" style="background: url({% static 'media/olives.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow" > Black Olives </div>  
</button>

<button class = "card" style="background: url({% static 'media/shrooms.jpg' %}); background-size: cover;  background-position: center center;"
 onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow"> Mushrooms </div> 
</button>

<button class = "card" style="background: url({% static 'media/tomatoes.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Drizzle_selection/';">
    <div class ="yellow"> Tomatoes </div> 
</button>

<button class = "card" style="background: url({% static 'media/onions.jpg' %}); background-size: cover;  background-position: center center;" 
onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow" > Onions </div>  
</button>

<button class = "card" style="background: url({% static 'media/pineapple.jpg' %}); background-size: cover;  background-position: center center;"
 onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow"> Pineapple </div> 
</button>

<button class = "card" style="background: url({% static 'media/jalapeno.jpg' %}); background-size: cover;  background-position: center center;"
 onclick="location.href='Drizzle_selection/';"> 
    <div class ="yellow"> Jalapenos </div> 
</button>


</div>  

</body>
</html>