{% extends "footer.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Spin n Stone</title>
<body>


    <script>
        function disableButtons() {
    
            let buttons = document.getElementsByClassName("yellow");
            let pictures = document.getElementsByClassName("card");
            for(var i = 0; i < buttons.length; i++) {
                buttons[i].style.visibility='hidden';
                pictures[i].style.visibility='hidden';
            }
    
            console.log("test");
        }
    </script>

<form method="POST">
    {% csrf_token %}       
        <div class="container"; style="grid-template-columns: repeat(4, 1fr);">  
        {% for order in orderNames %}
        {% if order not in currentOrder%}
        <div onclick="disableButtons();javascript:getElementById('b{{forloop.counter}}').click();" class = "card" style="background: #383838 url({% static 'media/'|add:order|add:'.jpg' %}); background-size: cover;  background-position: center center;"> 
            <button onclick="disableButtons();" id="b{{forloop.counter}}" class = "yellow" type="submit" name="btn"  value="{{order}}">{{order}}</button>
        </div>
        {% endif %}
        {% endfor %}
        </div>

</form>
{{ val }}

</body>
</html>
{% endblock %}