body{
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}

::-webkit-scrollbar {
    display: none;
}

h1{
    color:whitesmoke;
    margin:0;
}

h2{
    color:whitesmoke;
    margin-top:2px;
    margin-bottom:2px;
}

h4{
    color:whitesmoke;
    margin-top:2px;
    margin-bottom:2px;
}

.itemContainer {
    display:flex;
    border-top: solid 5px #747474;
}

.subContainer {
    min-width: 15%;
    padding: 10px;
}

input {
    height: 100%;

}

ul {
    list-style-type: none;
    margin:0;
    font-size: 15px;
    font-weight: bold;
}

.footer {
    color:white;
    display: flex;
    position: fixed;
    min-width: 100%;
    font-size: 18px;
    left:0;
    bottom:0;
    background-color: #383838;
    justify-content: space-between;
}

.footerdiv {
    margin: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.checkoutButton {
    font-size: 15px;
    font-weight: bold;
    background-color: #ff3535;  
    border: 1px solid #ff3535;
    height: 100%;

}

.noMargin {
    margin-top: 0;
    margin-bottom: 0;
}

.itemButtons {
    flex: 1;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    height: 100%;
}

.confirmWindow {
    background-color: #383838;
    color:white;
    position: fixed;
    min-width: 60%;
    min-height: 60%;
    font-size: 18px;
    left:20%;
    bottom:20%;
    border-radius: 25px;
    padding:25px;
}

#confirmWindowButtons {
    width:25%; 
    height:50px; 
    font-size:30px;   
    position:fixed;
    bottom:calc(20% + 25px);
}

.holdSpace {
    padding: 5%;
}
