body {
    background-color: black;
  }

.card{
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
   } 
  
   .yellow{
    color:black;
    background-color: gold;
    padding: 5px;
    border: 2px solid black;
    border-color: black;
    border-radius: 5px;
   }
  /*Need to correct images resizing for sprint 2*/
    .grid{
      padding-left: 10%;
      display:grid;
      grid-template-columns: 1fr;
      width: 80vw;
      height: 100vh;
      gap: 1rem;
    }