body {
    background-color: rgb(15, 15, 15);
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

.card{
    margin: 5px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:sans-serif;
    background-color:#33475b;
    border: solid rgb(15, 15, 15) 5px;

} 

.card:hover{
    border: solid #0091ff 5px;
} 

.yellow{
    color:rgb(15, 15, 15);
    font-size:30px;
    background-color: gold;
    padding: 5px;
    border: 2px solid rgb(15, 15, 15);
    border-color: rgb(15, 15, 15);
    border-radius: 5px;

}

 .container{
    display:grid;
    width: 90vw;
    height: 90vh;
    gap: 1rem;
    margin: auto;
 }

.footer {
    color:white;
    display: flex;
    position: fixed;
    min-width: 100%;
    font-size: 18px;
    left:0;
    bottom:0;
    background-color: #383838;
    justify-content: space-between;
}

.footerdiv {
    margin: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.checkoutButton {
    font-size: 15px;
    font-weight: bold;
    background-color: #ff3535;  
    border: 1px solid #ff3535;
    height: 100%;

}

.noMargin {
    margin-top: 0;
    margin-bottom: 0;
}

